---
title: 'Amihan Beach Hostel'
description: 'Accomodation San Vicente'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'accomodation/'
eleventyNavigation:
    key: accomodation
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1950">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Not an ordinary hostel</h1>
            <div class="cs-flex-group">
                <p class="cs-text">With daily workshops, community events, and in house dining options we have your stay covered.</p>
                <a target = "_blank" href="https://www.booking.com/hotel/ph/amihan-beach-hostel-san-vicente.en-gb.html?label=gog235jc-1DCAsotAFCH2FtaWhhbi1iZWFjaC1ob3N0ZWwtc2FuLXZpY2VudGVICVgDaLQBiAEBmAEJuAEYyAEP2AED6AEB-AECiAIBqAIEuAKz3ti7BsACAdICJGYyODAyNmEwLTc3ZTEtNDZhYy1hNzFmLTFjOGY1NDU5MThjNdgCBOACAQ&sid=c0865119ce142d211f856af7d92eef67&aid=356980&ucfs=1&arphpl=1&checkin=2025-01-04&checkout=2025-01-05&dest_id=-2452200&dest_type=city&group_adults=2&req_adults=2&no_rooms=1&group_children=0&req_children=0&hpos=1&hapos=1&sr_order=popularity&srpvid=91352c1ae7970441&srepoch=1735798585&all_sr_blocks=1293139603_402259376_2_2_0&highlighted_blocks=1293139603_402259376_2_2_0&matching_block_id=1293139603_402259376_2_2_0&sr_pri_blocks=1293139603_402259376_2_2_0__100000&from=searchresults" class="cs-button-solid">Book Here</a>
            </div>
        </div>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hero2.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/hero2.webp">
        <img decoding="async" src="/assets/images/hero2.webp" alt="restaurant" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-2198">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">What's on offer</span>
            <h2 class="cs-title">Amihan Beach Hostel</h2>
        </div>
        </div>
        </section>
        
        <!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<!-- <section id="services-26">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/accomodation.svg" alt="icon" width="82" height="82">
                    <h3 class="cs-h3">Accomodation</h3>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/yoga.svg" alt="icon" width="82" height="82">
                    <h3 class="cs-h3">Daily Activities</h3>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/food.svg" alt="icon" width="82" height="83">
                    <h3 class="cs-h3">Food and Drink</h3>
                </a>
            </li>
        </ul>
    </div>
</section> -->


<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-29">
    <div class = "arrow-right">
    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/right-arrow.svg" width="42" height="42">
    </div>
    <div class="cs-container">
        <div class="cs-card-group">
            <div class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/room.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/room.webp">
                    <img loading="lazy" decoding="/assets/images/room.webp" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Private room</h3>
                    <a class="cs-button-transparent" aria-label="accomodation booking" target = "blank" href="https://www.booking.com/hotel/ph/amihan-beach-hostel-san-vicente.en-gb.html?label=gog235jc-1DCAsotAFCH2FtaWhhbi1iZWFjaC1ob3N0ZWwtc2FuLXZpY2VudGVICVgDaLQBiAEBmAEJuAEYyAEP2AED6AEB-AECiAIBqAIEuAKz3ti7BsACAdICJGYyODAyNmEwLTc3ZTEtNDZhYy1hNzFmLTFjOGY1NDU5MThjNdgCBOACAQ&sid=c0865119ce142d211f856af7d92eef67&aid=356980&ucfs=1&arphpl=1&checkin=2025-01-04&checkout=2025-01-05&dest_id=-2452200&dest_type=city&group_adults=2&req_adults=2&no_rooms=1&group_children=0&req_children=0&hpos=1&hapos=1&sr_order=popularity&srpvid=91352c1ae7970441&srepoch=1735798585&all_sr_blocks=1293139603_402259376_2_2_0&highlighted_blocks=1293139603_402259376_2_2_0&matching_block_id=1293139603_402259376_2_2_0&sr_pri_blocks=1293139603_402259376_2_2_0__100000&from=searchresults">Book Now</a>
                </div>
            </div>
            <div class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/kubo.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/kubo.webp">
                    <img loading="lazy" decoding="/assets/images/kubo.webp" alt="kubo" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Kubo</h3>
                    <a class="cs-button-transparent" aria-label="accomodation booking" target = "blank" href="https://www.booking.com/hotel/ph/amihan-beach-hostel-san-vicente.en-gb.html?label=gog235jc-1DCAsotAFCH2FtaWhhbi1iZWFjaC1ob3N0ZWwtc2FuLXZpY2VudGVICVgDaLQBiAEBmAEJuAEYyAEP2AED6AEB-AECiAIBqAIEuAKz3ti7BsACAdICJGYyODAyNmEwLTc3ZTEtNDZhYy1hNzFmLTFjOGY1NDU5MThjNdgCBOACAQ&sid=c0865119ce142d211f856af7d92eef67&aid=356980&ucfs=1&arphpl=1&checkin=2025-01-04&checkout=2025-01-05&dest_id=-2452200&dest_type=city&group_adults=2&req_adults=2&no_rooms=1&group_children=0&req_children=0&hpos=1&hapos=1&sr_order=popularity&srpvid=91352c1ae7970441&srepoch=1735798585&all_sr_blocks=1293139603_402259376_2_2_0&highlighted_blocks=1293139603_402259376_2_2_0&matching_block_id=1293139603_402259376_2_2_0&sr_pri_blocks=1293139603_402259376_2_2_0__100000&from=searchresults">Book Now</a>
                </div>
            </div>
            <div class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/construct.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construct.jpg">
                    <img loading="lazy" decoding="/assets/images/construct.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">More coming soon!</h3>
                    <a class="cs-button-transparent" aria-label="accomodation booking" target = "blank" href="https://www.booking.com/hotel/ph/amihan-beach-hostel-san-vicente.en-gb.html?label=gog235jc-1DCAsotAFCH2FtaWhhbi1iZWFjaC1ob3N0ZWwtc2FuLXZpY2VudGVICVgDaLQBiAEBmAEJuAEYyAEP2AED6AEB-AECiAIBqAIEuAKz3ti7BsACAdICJGYyODAyNmEwLTc3ZTEtNDZhYy1hNzFmLTFjOGY1NDU5MThjNdgCBOACAQ&sid=c0865119ce142d211f856af7d92eef67&aid=356980&ucfs=1&arphpl=1&checkin=2025-01-04&checkout=2025-01-05&dest_id=-2452200&dest_type=city&group_adults=2&req_adults=2&no_rooms=1&group_children=0&req_children=0&hpos=1&hapos=1&sr_order=popularity&srpvid=91352c1ae7970441&srepoch=1735798585&all_sr_blocks=1293139603_402259376_2_2_0&highlighted_blocks=1293139603_402259376_2_2_0&matching_block_id=1293139603_402259376_2_2_0&sr_pri_blocks=1293139603_402259376_2_2_0__100000&from=searchresults">Book Now</a>
                </div>
            </div>
        </ul>
    </div>
</section>
                                
                                
<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1748">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">There's something for everyone</span>
            <h2 class="cs-title">Our activities</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Fire Dancing Workshops</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/gallery2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/gallery2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/gallery2.webp" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Yoga</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/yoga.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/yoga.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/yoga.jpg" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Cooking Classes</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/food.avif">
                    <source media="(min-width: 601px)" srcset="/assets/images/food.avif">
                    <img loading="lazy" decoding="async" src="/assets/images/food.avif" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Beach Fires</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/fire.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/fire.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/fire.webp" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Beach Volleyball</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/volleyball.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/volleyball.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/volleyball.jpg" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">And much more!</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/gallery1.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/gallery1.webp">
                    <img loading="lazy" decoding="async" src= "/assets/images/gallery1.webp" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-1716">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Come dine with us</span>
            <h2 class="cs-title">Serving meals and drinks all day</h2>
            <!--If you remove the cs-text, the rectangle shape will disappear.  If you need to remove it, transfer the :before and .cs-text:last-of-type styles to the cs-title on mobile and desktop-->
            <p class="cs-text">
                Enjoy a fresh meal from our kitchen and take your happy hour cocktails down to the beach
            </p>

        </div>
        <div class="cs-gallery">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)"
                        srcset="/assets/images/food2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)"
                        srcset="/assets/images/food2.jpg">
                <img loading="lazy" decoding="async"
                        src="/assets/images/food2.jpg" alt="picture"
                        width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)"
                        srcset="/assets/images/cocktail.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)"
                        srcset="/assets/images/cocktail.jpg">
                <img loading="lazy" decoding="async"
                        src="/assets/images/cocktail.jpg" alt="picture"
                        width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)"
                        srcset="/assets/images/food.avif">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)"
                        srcset="/assets/images/food.avif">
                <img loading="lazy" decoding="async"
                        src="/assets/images/food.avif" alt="picture"
                        width="480" height="549">
            </picture>
        </div>
    </div>
</section>
           
<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Come experience the best of Palawan</span>
            <h2 class="cs-title">Plan your trip</h2>
            <div class ="split">
            <a href="/transfers" class="cs-button-solid">Transfers</a>
            <a href="/tour1" class="cs-button-solid">Tours</a>
            </div>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/cta.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/cta.webp">
        <img loading="lazy" decoding="async" src="/assets/images/cta.webp" alt="Longbeach Sunrise" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>
                                
<!-- ============================================ -->
<!--                 Services                     -->
<!-- ============================================ -->

{% endblock %}