---
title: 'Amihan Beach Hostel'
description: 'Accomodation San Vicente'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'accomodation/'
eleventyNavigation:
    key: accomodation
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1950">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Not an ordinary hostel...</h1>
            <div class="cs-flex-group">
                <p class="cs-text">With daily workshops, community events, and in house dining options we have your stay covered.</p>
                <a href="" class="cs-button-solid">Book Here</a>
            </div>
        </div>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hostel.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/hostel.jpg">
        <img decoding="async" src="/assets/images/hostel.jpg" alt="restaurant" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-2198">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">What's on offer</span>
            <h2 class="cs-title">Amihan Beach Hostel</h2>
        </div>
        </div>
        </section>
        
        <!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-26">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/accomodation.svg" alt="icon" width="82" height="82">
                    <h3 class="cs-h3">Accomodation</h3>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/yoga.svg" alt="icon" width="82" height="82">
                    <h3 class="cs-h3">Daily Activities</h3>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/food.svg" alt="icon" width="82" height="83">
                    <h3 class="cs-h3">Food and Drink</h3>
                </a>
            </li>
        </ul>
    </div>
</section>
                                
                                               
<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-881">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Accomodation</span>
            <h2 class="cs-title">Whatever you pick, you will wish you stayed longer</h2>
            <a href="" class="cs-button-solid">Book Here</a>
        </div>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/tropical4.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/tropical4.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/tropical4.jpg" alt="cabinets" loading="lazy" width="400" height="560">
        </picture>
    </div>
</section>
<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-29">
    <div class="cs-container">
        <div class="cs-card-group">
            <div class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg">
                    <img loading="lazy" decoding="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">4 bed dorm</h3>
                    <a class="cs-button-transparent" aria-label="read more about foyers" href="">Book Now</a>
                </div>
            </div>
            <div class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/posh-bathroom-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/posh-bathroom.jpg">
                    <img loading="lazy" decoding="https://csimg.nyc3.digitaloceanspaces.com/Services/posh-bathroom.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Private Bungalow</h3>
                    <a class="cs-button-transparent" aria-label="read more about bathrooms" href="">Book Now</a>
                </div>
            </div>
            <div class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg">
                    <img loading="lazy" decoding="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">More coming soon!</h3>
                    <a class="cs-button-transparent" aria-label="read more about living rooms" href="">Book Now</a>
                </div>
            </div>
        </ul>
    </div>
</section>
                                
                                
<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1748">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Activities</span>
            <h2 class="cs-title">There's something for everyone</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Fire Dancing Workshops</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-1.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-1.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-1.png" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Yoga</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Cooking Classes</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Beach Fires</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-5.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-5.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-5.png" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Beach Volleyball</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">And much more!</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-pic2.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-pic2.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-pic2.png" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                 Services                     -->
<!-- ============================================ -->

{% endblock %}