---
title: 'Amihan Beach Hostel'
description: 'Accomodation San Vicente'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'accomodation/'
eleventyNavigation:
    key: accomodation
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1950">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Not an ordinary hostel...</h1>
            <div class="cs-flex-group">
                <p class="cs-text">With daily workshops, community events, and in house dining options we have your stay covered.</p>
                <a href="" class="cs-button-solid">Book Here</a>
            </div>
        </div>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hostel.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/hostel.jpg">
        <img decoding="async" src="/assets/images/hostel.jpg" alt="restaurant" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-2198">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">What's on offer</span>
            <h2 class="cs-title">Amihan Beach Hostel</h2>
        </div>
        </div>
        </section>
        
        <!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-26">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/accomodation.svg" alt="icon" width="82" height="82">
                    <h3 class="cs-h3">Accomodation</h3>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/yoga.svg" alt="icon" width="82" height="82">
                    <h3 class="cs-h3">Daily Activities</h3>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/food.svg" alt="icon" width="82" height="83">
                    <h3 class="cs-h3">Food and Drink</h3>
                </a>
            </li>
        </ul>
    </div>
</section>
                                
                                               
<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-881">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Accomodation</span>
            <h2 class="cs-title">Whatever you pick, you will wish you stayed longer</h2>
            <a href="" class="cs-button-solid">Book Here</a>
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-29">
    <div class="cs-container">
        <div class="cs-card-group">
            <div class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg">
                    <img loading="lazy" decoding="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">4 bed dorm</h3>
                    <a class="cs-button-transparent" aria-label="read more about foyers" href="">Read More</a>
                </div>
            </div>
            <div class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/posh-bathroom-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/posh-bathroom.jpg">
                    <img loading="lazy" decoding="https://csimg.nyc3.digitaloceanspaces.com/Services/posh-bathroom.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Private Bungalow</h3>
                    <a class="cs-button-transparent" aria-label="read more about bathrooms" href="">Read More</a>
                </div>
            </div>
            <div class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg">
                    <img loading="lazy" decoding="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">More coming soon!</h3>
                    <a class="cs-button-transparent" aria-label="read more about living rooms" href="">Read More</a>
                </div>
            </div>
        </ul>
    </div>
</section>
                                
                                
<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1748">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Activities</span>
            <h2 class="cs-title">There's something for everyone</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Fire Dancing Workshops</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-1.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-1.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-1.png" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Yoga</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Cooking Classes</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Beach Fires</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-5.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-5.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-5.png" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Beach Volleyball</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">And much more!</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-pic2.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-pic2.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-pic2.png" alt="person" width="384" height="480" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                 Services                     -->
<!-- ============================================ -->

<section id="services-1032">
    <div class="cs-container">
        <div class="cs-content">
            <img class="cs-graphic" aria-hidden="true" loading="lazy" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Ornament.svg" decoding="async" alt="graphic" width="456" height="31">
            <h2 class="cs-title">Come dine with us</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
        <div class="cs-card-group">
            <picture class="cs-image cs-grid-item cs-item1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe1.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe1.jpg" alt="cafe" width="480" height="856">
            </picture>
            <div class="cs-card cs-grid-item cs-item2">
                <picture class="cs-image">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe2.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe2.jpg" alt="cafe" width="480" height="428">
                </picture>
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/decal.svg" alt="icon" width="50" height="32">
                <h3 class="cs-h3">
                    <span class="cs-color">Food</span>
                    All day
                </h3>
                <p class="cs-card-text">
                   Enjoy delicious home made food all day, everyday.
                </p>
            </div>
            <picture class="cs-image cs-grid-item cs-item3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe3.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe3.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe3.jpg" alt="cafe" width="480" height="428">
            </picture>
            <picture class="cs-image cs-grid-item cs-item4">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe4.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe4.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe4.jpg" alt="cafe" width="480" height="428">
            </picture>
            <div class="cs-card cs-grid-item cs-item5">
                <picture class="cs-image">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe5.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe5.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe5.jpg" alt="cafe" width="480" height="428">
                </picture>
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/decal.svg" alt="icon" width="50" height="32">
                <h3 class="cs-h3">
                    <span class="cs-color">Fresh</span>
                    Cocktails
                </h3>
                <p class="cs-card-text">
                    Pair the fresh ocean breeze with our beautiful cocktails.
                </p>
            </div>
            <picture class="cs-image cs-grid-item cs-item6">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe6.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe6.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/cafe6.jpg" alt="cafe" width="480" height="856">
            </picture>
        </div>
    </div>
</section>
                                                                
<!--                   
    These "Micro Stitches" are to be placed inside the .cs-content group of Side By Side Stitches.  Typically after the .cs-title or .cs-text. They are used to add more design flair to a Stitch as well as convey more information in a different way.
-->

                              
<!-- ============================================ -->
<!--                Content Flair                 -->
<!-- ============================================ -->



{% endblock %}