---
title: 'Palawan Tours | Boat Tour'
description: 'Palawan Tours boat tour from Port Barton to neighbouring islands'
preloadImg: '/assets/images/imagename.format'
permalink: 'tour1/'
eleventyNavigation:
    key: tour1
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                     Hero                     -->
<!-- ============================================ -->

<section id="hero-1946">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Explore the best of Palawan by boat</h2>
            <div class="cs-flex">
                <p class="cs-text">Explore the stunning beauty of Palawan on a scenic boat tour. Cruise through crystal-clear waters, stopping at serene islands, pristine beaches, and vibrant coral reefs. Enjoy snorkeling, swimming, and relaxing on secluded shores, all while surrounded by lush tropical landscapes. Whether you're seeking adventure or tranquility, this boat tour offers the perfect way to experience the natural wonders of Palawan.</p>
                <a href="https://palawantours43.rezdy.com/684844/island-hopping-adventure?_gl=1*3xdpl6*_gcl_au*MTk1NjU5MzM2NC4xNzM1MjgwNDA5LjYzODI4NDgzMS4xNzM1MjgwNDU5LjE3MzUyODA1MDQ.*_ga*MTUxOTUyMTEwOC4xNzMzODE2MTUz*_ga_J7SXS0R0D6*MTczNTI4MDM1Ny4yLjEuMTczNTI4MTUxMy41OC4wLjA." target="_blank" class="cs-button-solid">Book Here</a>
            </div>
        </div>
        <picture class="cs-picture">
            <source media="(min-width: 601px)" srcset="/assets/images/tour1.jpg">
            <source media="(max-width: 600px)" srcset="/assets/images/tour1.jpg">
            <img decoding="async" src="/assets/images/tour1.jpg" alt="construction site" width="1280" height="510">
        </picture>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-picture">
                    <img class="cs-icon" src="/assets/svgs/snorkel.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Snorkelling</h3>
                    <p class="cs-item-text">See an abundance of marine life and prestine corals</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-picture">
                    <img class="cs-icon" src="/assets/svgs/food.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Food</h3>
                    <p class="cs-item-text">Enjoy delicious local food cooked on the boat by our experienced crew</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-picture">
                    <img class="cs-icon" src="/assets/svgs/drink.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Drinks</h3>
                    <p class="cs-item-text">Enjoy complimentary rum and juice</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-picture">
                    <img class="cs-icon" src="/assets/svgs/island.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Islands</h3>
                    <p class="cs-item-text">Explore several beautiful islands all with their own unique features and attractions</p>
                </div>
            </li>
        </ul>
    </div>                       
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Come experience the best of Palawan</span>
            <h2 class="cs-title">Plan your trip</h2>
            <div class ="split">
            <a href="/accomodation" class="cs-button-solid">Accomodation</a>
            <a href="/transfers" class="cs-button-solid">Transfers</a>
            </div>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/cta.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/cta.webp">
        <img loading="lazy" decoding="async" src="/assets/images/cta.webp" alt="Longbeach Sunrise" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>
                                
{% endblock %}