---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'transfers/'
eleventyNavigation:
    key: transfers
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1176">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Transfers</span>
            <h2 class="cs-title">Getting here is easy</h2>
            <p class="cs-text">
                No matter where you're coming from we can help you out, just get in touch.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                    src="/assets/svgs/van.svg" alt="icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Puerto Princesa → Port Barton</h3>
                <p class="cs-item-text">
                    Vans departing daily at XXXX O clock
                </p>
                <a href="" class="cs-link">
                    Book Here
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="/assets/svgs/boat.svg" alt="icon"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Port Barton  → Long Beach San Vicente</h3>
                <p class="cs-item-text">
                    Take a quick 45 minute taxi boat from Port Barton with daily departures both in the morning and afternoon.
                </p>
                <a href="" class="cs-link">
                    Book Here
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="/assets/svgs/van.svg" alt="icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3">San Vicente Airport  → Port Barton</h3>
                <p class="cs-item-text">
                    Vans departing regularly.....
                </p>
                <a href="" class="cs-link">
                    Book Here
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
            </li>
        </ul>
    </div>
</section>
                                
{% endblock %}
