---
title: 'Palawan Tours | Transfers'
description: 'Transfers offered by Palawan Tours from Port Barton to San Vicente'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'transfers/'
eleventyNavigation:
    key: transfers
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<!-- Usage Notes:
We made this stitch to overlap the section below it, so if there's a patterned texture or image background on the next section below, it will overlap on top of it. Other Stitches like this would have a white gap between the cards and the next section. In order to make Stitches like this work, we need to add a padding top on the section below it to counteract the overlap. Here's the padding top you need to add to the section below this one and all the breakpoints to add them so this design will work with whatever comes after it:

ON MOBILE (360px): add padding-top: (750/16rem); using LESS, or padding-top: calc(750 / 16 * 1rem); if you're using SCSS, or padding-top: 46.875rem; if you're just using vanilla CSS.

ON TABLET (768px): Reset to padding-top: (500/16rem); using LESS, padding-top: calc(500 / 16 * 1rem) for SCSS or padding-top: 31.25rem; for CSS.

ON DESKTOP (1024px): Reset to padding-top: (250/16rem); using LESS, padding-top: calc(250 / 16 * 1rem) for SCSS or padding-top: 15.625rem; for CSS.

Doing this will complete the overlapping "breaking the container" look.
-->

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1957">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Take the scenic route</span>
            <h1 class="cs-title">Port Barton ⇆ San Vicente Taxi Boat</h1>
            <p class="cs-text">Combine our regular taxi service with additional experiences</p>
            <a target = "_blank" href="https://palawantours43.rezdy.com/684846/boat-taxi-port-barton-san-vicente?_gl=1*127awnb*_gcl_au*OTgzNjIxNDczLjE3MzY1NjA0OTQ.*_ga*MTUxOTUyMTEwOC4xNzMzODE2MTUz*_ga_J7SXS0R0D6*MTczNjU2MDQ3OS41LjEuMTczNjU2MTEzMS4zNS4wLjA." class="cs-button-solid">Book Here</a>
        </div>
    </div>
    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hero3.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/hero3.webp">
        <img decoding="async" src="/assets/images/hero3.webp" alt="healthcare professionals" width="1920" height="746" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-1957">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-up-right-arrow.svg" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">Trekking</span>
                        <h3 class="cs-h3"></h3>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/trek.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/trek.webp">
                    <img decoding="async" src="/assets/images/trek.webp" alt="healthcare patient" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-up-right-arrow.svg" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">Viewpoints</span>
                        <h3 class="cs-h3"></h3>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/viewpoint.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/viewpoint.webp">
                    <img decoding="async" src="/assets/images/viewpoint.webp" alt="Viewpoint" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-up-right-arrow.svg" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">Surfing</span>
                        <h3 class="cs-h3"></h3>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/surfing.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/surfing.webp">
                    <img decoding="async" src="/assets/images/surfing.webp" alt="surfing san vicente" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-up-right-arrow.svg" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">Waterfalls</span>
                        <h3 class="cs-h3"></h3>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/waterfall.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/waterfall.webp">
                    <img decoding="async" src="/assets/images/waterfall.webp" alt="healthcare patient" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-2130">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Taxi Boat</span>
            <h2 class="cs-title">Our Services</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a target ="_blank" href="https://palawantours43.rezdy.com/684846/boat-taxi-port-barton-san-vicente?_gl=1*127awnb*_gcl_au*OTgzNjIxNDczLjE3MzY1NjA0OTQ.*_ga*MTUxOTUyMTEwOC4xNzMzODE2MTUz*_ga_J7SXS0R0D6*MTczNjU2MDQ3OS41LjEuMTczNjU2MTEzMS4zNS4wLjA." class="cs-link">
                    <div class="cs-h3">
                        <h3>Regular Service</h3>
                        <p class="cs-text">Taxi boat Port Barton ⇆ San Vicente</p>
                        </div>
                    <div class="cs-fake-link">
                        <span class="cs-item-p">
                            Book Now
                        </span>
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/taxiboat.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/taxiboat.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/taxiboat.webp" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-h3">
                        <h3>Flight Pass </h3>
                        <p class="cs-text">Transport to/from San Vicente Airport + Taxi Boat</p>
                        </div>
                    <div class="cs-fake-link">
                        <span class="cs-item-p">
                            Book Now
                        </span>
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/airport.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/airport.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/airport.webp" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-h3">
                        <h3>Surfing Package</h3>
                        <p class="cs-text">Taxi boat + transport to Alimanguan Surf Beach</p>
                        </div>
                    <div class="cs-fake-link">
                        <span class="cs-item-p">
                            Book Now
                        </span>
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/surf2.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/surf2.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/surf2.webp" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-h3">
                        <h3>Tour A: Island/Land Adventure</h3>
                        <p class="cs-text">Taxi boat + Land and Island Tour</p>
                        </div>
                    <div class="cs-fake-link">
                        <span class="cs-item-p">
                            Book Now
                        </span>
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/toura.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/toura.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/toura.webp" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-h3">
                    <h3>Tour B: Island/Land Adventure</h3>
                    <p class="cs-text">Taxi boat + Land and Island Tour</p>
                    </div>
                    <div class="cs-fake-link">
                        <span class="cs-item-p">
                            Book Now
                        </span>
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/tourb.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/tourb.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/tourb.webp" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>
                                            
                                
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<!-- <section id="services-1176">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Transfers</span>
            <h2 class="cs-title">Getting here is easy</h2>
            <p class="cs-text">
                No matter where you're coming from we can help you out, just get in touch.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="/assets/svgs/van.svg" alt="icon"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Puerto Princesa ⇆ Port Barton</h3>
                <p class="cs-item-text">
                    Take a quick 45 minute taxi boat from Port Barton or San Vicente with daily departures both in the morning and afternoon.
                </p>
                <a href="https://palawantours43.rezdy.com/684900/puerto-princesa-port-barton?_gl=1*xni26m*_gcl_au*MTk1NjU5MzM2NC4xNzM1MjgwNDA5LjYzODI4NDgzMS4xNzM1MjgwNDU5LjE3MzUyODA1MDQ.*_ga*MTUxOTUyMTEwOC4xNzMzODE2MTUz*_ga_J7SXS0R0D6*MTczNTM1NTI1Ni4zLjEuMTczNTM1NjM2Ni40My4wLjA." target="_blank" class="cs-link">
                    Puerto Princesa → Port Barton Book Here
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
                <a href="https://palawantours43.rezdy.com/684901/port-barton-puerto-princesa?_gl=1*16bnkd3*_gcl_au*MTk1NjU5MzM2NC4xNzM1MjgwNDA5LjYzODI4NDgzMS4xNzM1MjgwNDU5LjE3MzUyODA1MDQ.*_ga*MTUxOTUyMTEwOC4xNzMzODE2MTUz*_ga_J7SXS0R0D6*MTczNTM1NTI1Ni4zLjEuMTczNTM1NjYwNC42MC4wLjA." target="_blank" class="cs-link">
                    Port Barton → Puerto Princesa Book Here
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="/assets/svgs/boat.svg" alt="icon"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Port Barton ⇆ San Vicente</h3>
                <p class="cs-item-text">
                    Take a quick 45 minute taxi boat from Port Barton or San Vicente with daily departures both in the morning and afternoon.
                </p>
                <a href="https://palawantours43.rezdy.com/684846/boat-taxi-port-barton-san-vicente?_gl=1*1c67mv*_gcl_au*MTk1NjU5MzM2NC4xNzM1MjgwNDA5LjYzODI4NDgzMS4xNzM1MjgwNDU5LjE3MzUyODA1MDQ.*_ga*MTUxOTUyMTEwOC4xNzMzODE2MTUz*_ga_J7SXS0R0D6*MTczNTI4MDM1Ny4yLjEuMTczNTI5MTY2NS4yNy4wLjA." target="_blank" class="cs-link">
                    Port Barton → San Vicente Book Here
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
                <a href="https://palawantours43.rezdy.com/684899/boat-taxi-san-vicente-port-barton?_gl=1*1o1xyco*_gcl_au*MTk1NjU5MzM2NC4xNzM1MjgwNDA5LjYzODI4NDgzMS4xNzM1MjgwNDU5LjE3MzUyODA1MDQ.*_ga*MTUxOTUyMTEwOC4xNzMzODE2MTUz*_ga_J7SXS0R0D6*MTczNTM1NTI1Ni4zLjEuMTczNTM1NTc0MC4xMS4wLjA." target="_blank" class="cs-link">
                    San Vicente → Port Barton Book Here
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="/assets/svgs/van.svg" alt="icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3">San Vicente Airport  ⇆ Port Barton</h3>
                <p class="cs-item-text">
                    Vans departing regularly.....
                </p>
                <a href="https://palawantours43.rezdy.com/684905/san-vicente-airport-port-barton?_gl=1*1pm7rnc*_gcl_au*MTk1NjU5MzM2NC4xNzM1MjgwNDA5LjYzODI4NDgzMS4xNzM1MjgwNDU5LjE3MzUyODA1MDQ.*_ga*MTUxOTUyMTEwOC4xNzMzODE2MTUz*_ga_J7SXS0R0D6*MTczNTM1NTI1Ni4zLjEuMTczNTM1NzIxNy42MC4wLjA." target = "_blank" class="cs-link">
                    San Vicente Airport → Port Barton
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
                <a href="https://palawantours43.rezdy.com/684911/port-barton-san-vicente-airport?_gl=1*1k8xf6*_gcl_au*MTk1NjU5MzM2NC4xNzM1MjgwNDA5LjYzODI4NDgzMS4xNzM1MjgwNDU5LjE3MzUyODA1MDQ.*_ga*MTUxOTUyMTEwOC4xNzMzODE2MTUz*_ga_J7SXS0R0D6*MTczNTM1NTI1Ni4zLjEuMTczNTM1OTAxMy4xOC4wLjA." target = "_blank" class="cs-link">
                    Port Barton → San Vicente Airport
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
            </li>
        </ul>
    </div>
</section> -->
<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Come experience the best of Palawan</span>
            <h2 class="cs-title">Plan your trip</h2>
            <div class ="split">
            <a href="/accomodation" class="cs-button-solid">Accomodation</a>
            <a href="/tour1" class="cs-button-solid">Tours</a>
            </div>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/cta.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/cta.webp">
        <img loading="lazy" decoding="async" src="/assets/images/cta.webp" alt="Longbeach Sunrise" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>                              
{% endblock %}
